<h1>Good Burger!</h1>

<h3>Burgers ready to eat!</h3>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h3>Burgers devoured!</h3>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
{{!-- NOTE original values from cat example are: label for="ca" and input id="ca"--}}
<h4>Add a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label for="brgr">Burger name:</label>
    <input type="text" id="brgr" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>